<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Alata&family=Bebas+Neue&family=Lilita+One&family=Neuton&display=swap" rel="stylesheet">
<div class="wrapper fadeInDown">
    <div id="formContent">
        <div style="font-family: 'Alata', sans-serif;"id="clima"></div>
        <div class="center">
            <h1 class="titlerank">RANKING</h1>
        </div>
        <center> <img  src="https://www.pngplay.com/wp-content/uploads/8/Golden-Trophy-Transparent-File.png "id="icon" alt="User Icon" /></center>
        <h1 class="btn">{{nombreUser1}} {{puntuacion1}} puntos</h1>
        <h1 class="btn2">{{nombreUser2}} {{puntuacion2}} puntos</h1>
        <h1 class="btn3">{{nombreUser3}} {{puntuacion3}} puntos</h1>
    </div>
</div> 